---
---

<footer class="border border-solid border-black py-6">
  <ul class="flex flex-wrap">
    <li class="pr-4">
      <a href="https://www.discogs.com/user/_james">Discogs</a>
    </li>
    <li><a href="https://github.com/jderdock">Github</a></li>
  </ul>
</footer>
