---
import Navigation from "./Navigation.astro";
---

<header class="py-4 border border-solid border-black mb-20">
  <div class="flex flex-wrap justify-between">
    <h1 class="uppercase font-bold">James Derdock</h1>
    <nav>
      <Navigation />
    </nav>
  </div>
</header>
